* {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: white;
  height: fit-content;
}
.container {
  background: #d9eafd;
  background: linear-gradient(
    6deg,
    rgba(217, 234, 253, 1) 0%,
    rgba(203, 220, 235, 1) 27%,
    rgba(11, 166, 223, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
}
.content {
  display: grid;
  padding: 20px;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
  grid-template-rows: 1.5fr 2fr 1fr;
  height: 100%;
  width: 100%;
}
.logo {
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weatherIcon {
  padding-top: 20px;
}
.weatherIcon span {
  font-size: 80px;
}
.areaName span,
h3 {
  display: inline;
}
.areaName h3 {
  padding-left: 5px;
}
.inputCity {
  margin-left: 5px;
  padding: 2px;
}
.information {
  grid-area: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 8px lightgray;
}
.information p,
h1,
h3,
h6 {
  text-shadow: 1px 1px 10px gray;
}
.informationContent {
  width: 80%;
  height: 100%;
  background-color: #b6ddffc8;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 12px gray;
  padding: 10px;
}
.informationContent h1,
h3,
h6 {
  margin: 5px 0px;
}
.report {
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reportButton {
  background-color: white;
  padding: 12px 20px;
  color: black;
  border: 0.5px solid gray;
  border-radius: 12px;
  box-shadow: 3px 3px 4px lightgray inset;
}
.errorCity {
  color: black;
  padding: 10px;
}
